 /* CSS FOR SPEAKERS */
.col{
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}
.row{
  margin: 5vw auto 5vw auto;
  width: 100%;
  display: flex;
  text-align: center;
  
}
.speaker{
  margin: auto;
  padding-bottom: 10px;
  width: 20%;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.speaker img{
  width: 100%;
  
}
.speaker h3{
  color: #000000;
  font-style: 'inria serif';
  font-size: 1.7vw;
}
.speaker li{
  list-style-type: none;
}
.speaker a{
  color: #3EA6FF;
  text-decoration: none;
  font-weight: bold;
  font-size: 2vw;
}
.speaker a:hover{
  color: black;
}
.head h1{
  margin: 5vh 0 2vh 0;
  text-align: center;
  color: #000000;
  font-style: 'inria serif';
  font-size: 3vw;
}
.head hr{
  background-color: #000000;
  border: none;
  height: 2px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
  @media screen and (max-width: 800px) {
    .head h1{
        font-size: 7vw;
        margin: 1vh 0 1vh 0;
    }
    .speaker{
      width: 25%;
    }
  }


/* CSS FOR SCHEDULE  */
.timeline{
  position: relative;
  margin: 5vw;
}
#time{
  color: #3EA6FF;
}
.timeline::after{
  content: '';
  position: absolute;
  width: 5px;
  height: 100%;
  background: black;
  top: 0;
  left: 50.2%;
  animation: moveline 3s linear forwards;
}
@keyframes moveline {
  0%{
    height: 0;
  }
  100%{
    height: 100%;
  }
}
.container{
  position: relative;
  width:46%;
  padding: 2vw;
  border-radius: 10%;
  animation: movedown 1s linear forwards;
  opacity: 0;
}
@keyframes movedown {
  0%{
    opacity: 1;
    transform: translateY(-30px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}

.container:nth-child(1){
  animation-delay: 0s;
}
.container:nth-child(2){
  animation-delay: 1s;
}
.container:nth-child(3){
  animation-delay: 2s;
}
.box{
  position: relative;
  padding: 2vw;

  border-radius: 10px;
  background-color: #121238;
  color: white;
}
.left{
  left: 0;
}
.left-arrow{
  height: 0;
  width: 0;
  position: absolute;
  top: 3vw;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid rgba(18, 18, 56, 0.5);
  right:-15px ;
}
.right{
  left: 50%;
}
.right-arrow{
  height: 0;
  width: 0;
  position: absolute;
  top: 3vw;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid rgba(0, 0, 0, 0.5);
  left:-13px ;
}
  
@media screen and (max-width: 800px) {
  .timeline{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .timeline::after{
    display: none;
    animation: none;
  }
  .container{
    width: 90%;
    animation: none;
    opacity: 1;
    border-radius: 5%;
    margin-left: 10px;
  }
  .box{
    margin-bottom: 10px;
    border-radius: 10px;
    padding-left: 20px;
  }
  .right{
    left: 0;
  }
  .left-arrow, .right-arrow{
    display: none;
  }
}

.sponsor{
  padding: 0vw 5vw 2vw 5vw;
}
.sponsor img{
  width: 13vw;
  padding: 2vw;
}
.sponsor-inner{
  text-align: center;
}
@media screen and (max-width: 600px) {
  .sponsor img{
    width: 25vw;
  }
}

/* Styling for latest news  */
.latest{
  width: 70%;
  margin: 40px auto;
  padding: 2rem;
  height: auto;
  background-color: white;
  box-shadow:5px 5px 20px 1px black
}
.latest h1{
  font-size: 2rem;
  text-decoration: overline;
}
.latest p{
  font-size: 1rem;
  margin-bottom: 10px;
}
.latest img{
  margin-bottom: -4px;
}
.latest a{
  color: #3EA6FF;
  font-weight: bold;
}
@media screen and (max-width: 600px) {
  .latest{
    width: 80%;
    border: none;
    box-shadow: none;
  }
  .latest p{
    font-size: 0.8rem;
  }
  .latest h1{
    font-size: 2rem;
  }
}